* {
    margin: 0;
}

/* .container {
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    background-color: grey;
    color: white;
} */

.flex-container {
    height: 200px;
    display: flex;
    background-color: antiquewhite;
    /* justify-content: center;
    align-items: center; */
    /* justify-content: space-evenly;*/

    /* flex-direction: column; 
    justify-content: center;
    align-items: center; */

    /* flex-wrap: wrap; */
}

.child {
    width: 200px;
    height: 50px;
    background-color: rgb(40, 120, 120);
    color: rgb(242, 236, 236);
    border: 1px solid black;
}

.box1 {
    /* align-self: flex-end; */
    /* order: 2; */
    /* flex-grow: 1; */
    /* flex-shrink: 1; */
}

.box2 {
    /* order: 1; */
    /* flex-grow: 3; */
    /* flex-shrink: 1; */
}

.box3 {
    /* order: 3; */
    /* flex-grow: 1; */
    /* flex-shrink: 2; */
}